.featured_products_component {
  /* margin-bottom: 3.2rem; */
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: scroll;
}

.featured_products_section {
  max-width: 120rem;
  height: 50rem;
  margin: 0 auto;

  position: relative;
}

.text_box {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  max-width: 70rem;
  padding: 0 3.2rem;
}

.heading {
  color: #fff;
  margin-bottom: 2.8rem;
  text-align: center;
}

.heading h2 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #ae9479;
  text-transform: uppercase;
}

.heading p {
  font-size: 2.4rem;
  text-transform: lowercase;
}

.types {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  gap: 1.8rem;
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.types h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 1.8rem;
  padding: 0.8rem 1.6rem;
  transition: transform 0.2s ease-in-out;
}

.types h4:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .heading h2 {
    font-size: 3.6rem;
  }

  .heading p {
    font-size: 1.6rem;
  }

  .types h4 {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }
}

@media screen and (max-width: 500px) {
  .heading h2 {
    font-size: 3rem;
  }

  .heading p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .featured_products_section {
    height: 38rem;
  }
  .heading h2 {
    font-size: 2.6rem;
  }

  .heading p {
    font-size: 1rem;
  }
  .types h4 {
    font-size: 1.2rem;
  }
}
