.categories_component {
  margin-bottom: 8.2rem;
}

.categories_heading {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2.8rem;
  color: #311528;
}

.categories_section {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}
