.categories_component {
  margin-bottom: 8.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories_heading {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2.8rem;
  color: #311528;
}

.categories_section {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  gap: 2.4rem;
}

@media screen and (max-width: 1194px) {
  .categories_section {
  }
}
@media screen and (max-width: 750px) {
  .categories_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 2.4rem; */
  }
}

/* @media screen and  (max-width: 500px){
  .categories_section {
    flex-direction: column;
  align-items: center;

  }
} */
