.header_component {
  background-color: #311528;
  padding: 0.8rem 1.6rem;
}

.header_section {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 1.8rem;

  font-size: 1.8rem;
  color: #ae9479;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
