.nav_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.nav_section h3 {
  font-size: 1.8rem;
}

.router_link {
  text-decoration: none;
  color: #ae9479;
}
