.explore_component {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  margin-bottom: 3.2rem;
}

.explore_section {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.image_box {
  max-width: 58rem;
  border-radius: 8px;
  overflow: hidden;
}

.image_box img {
  width: 100%;
}

.explore_title {
  margin-bottom: 1.8rem;
}
