.footer_component {
  display: flex;
  flex-direction: column;
  /* background-color: #311528; */

  color: #fff;
  background-image: url('../../Images/Footer/backgroundimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  position: relative;
}

.footer_component::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
  background: #311528;
}

.footer_section {
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3.2rem;
  justify-content: space-between;
  padding: 4rem 2rem;

  z-index: 1;
}

.main_footer_section {
  max-width: 60%;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

h3 {
  font-weight: 200;
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
  color: #ae9479;
}

p,
li {
  font-size: 1.6rem;
}

li {
  list-style: none;
  margin-bottom: 0.6rem;

  cursor: pointer;
}

.copyright_component {
  z-index: 1;
  background-color: #220f1c;
  opacity: 0.8;
  padding: 2.4rem 0;
}

.copyright_section {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.8rem;

  display: flex;
  justify-content: space-between;
}

.copyright_section p {
  font-size: 1.3rem;
}

.developed_by span {
  color: #ae9479;
}

@media screen and (max-width: 1000px) {
  h3 {
    font-size: 2rem;
  }

  p,
  li {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 750px) {
  h3 {
    font-size: 1.6rem;
  }

  p,
  li {
    font-size: 1.2rem;
  }

  .copyright_section p {
    font-size: 0.85rem;
  }
  
  .copyright_component {
  padding: 2rem 0;

  }
}
@media screen and (max-width: 400px) {
  h3 {
    font-size: 1.2rem;
  }

  p,
  li {
    font-size: 0.9rem;
    font-weight: 100;
  }
  li{
  margin-bottom: 0.4rem;

  }
  .copyright_section p {
    font-size: 0.6rem;
  }
  
  .copyright_component {
    padding: 1.4rem 0;
  
    }
}
