.slide_component {
  margin-bottom: 4.8rem;
  position: relative;
}

.slide_section {
  max-width: 100%;

  display: flex;

  overflow: hidden;
}

.slide_section img {
  transition: translate 0.3s ease-in-out;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

.left_arrow,
.right_arrow {
  max-width: 6.4rem;
  max-height: 6.4rem;
  padding: 3px;
  color: #000000;
  background-color: #ffffff88;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

/* .left_arrow svg, .right_arrow svg{
  width: 100%;
} */

.left_arrow {
  left: 5px;
}

.right_arrow {
  right: 5px;
}

.left_arrow:hover,.right_arrow:hover{
  background-color:#ffffffa4 ;
}

@media screen and (max-width: 1200px) {
  .left_arrow,
  .right_arrow {
    width: 4.2rem;
  }
}
@media screen and (max-width: 500px) {
  .left_arrow,
  .right_arrow {
    width: 2.8rem;
  }
}
